<!DOCTYPE html>
    <html>
        <head>
            <title>Node Practise</title>
        </head>
        <body>
            <h1>Hello Visitor</h1>
            <form action="POST">
                <legend>Sign Up</legend>
                <input id="first-name" type="text" placeholder="first name">
                <input id="last-name" type="text" placeholder="last name">
                <input id="age" type="number" placeholder="age">
                <input id="email" type="email" placeholder="email">
                <input id="password" type="text" placeholder="password">
                <button>Submit</button>
            </form>

            <h6></h6>

            <script src="./index.js"></script>
        </body>
    </html>