<!DOCTYPE html>
    <html>
        <head>
            <title>Node Practise Login</title>
        </head>
        <body>
            <h1>Hello</h1>
            <form action="/" method="POST">
                <legend>Log in</legend>
                <input name="email" id="email" type="email" placeholder="email" required>
                <input name="password" id="password" type="text" placeholder="password" required>
                <a href="/userProfile"><button>Submit</button></a>
            </form>

            <script src="./index.js"></script>
        </body>
    </html>