<!DOCTYPE html>
    <html>
        <head>
            <title>Node Practise Signup</title>
        </head>
        <body>
            <h1>Hello</h1>
            <form action="/" method="POST">
                <legend>Sign Up</legend>
                <input name="firstName" id="first-name" type="text" placeholder="first name" required>
                <input name="lastName" id="last-name" type="text" placeholder="last name" required>
                <input name="age" id="age" type="number" placeholder="age" required>
                <input name="email" id="email" type="email" placeholder="email" required>
                <input name="password" id="password" type="text" placeholder="password" required>
                <input name="confirm-password" id="password" type="text" placeholder="confirm password" required>
                <button>Submit</button>
            </form>

            <script src="./index.js"></script>
        </body>
    </html>